# Abaikan semua file .log di folder logs/
logs/*.log

# Jangan abaikan file dan folder penting di logs/
!logs/
!logs/**/
!logs/*.txt
!logs/.gitkeep

# Abaikan node_modules
node_modules/

# Abaikan database.db
databases/database.db

# Abaikan .env
.env