<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="apple-mobile-web-app-title" content="Noura Fajr" />
  <title>
    Halaman <%= title %>
  </title>
  <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
  <link rel="shortcut icon" href="/favicon/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
  <link rel="manifest" href="/favicon/site.webmanifest" />
  <link rel="stylesheet" href="/vendor/boostrap-5.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/vendor/bootstrap-icons-1.13.1/bootstrap-icons.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <main>
    <%- body %>
  </main>
  <script src="/vendor/boostrap-5.3.7/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/jquery-3.7.1.min.js"></script>
  <% if (typeof controllers !== 'undefined' && controllers) { %>
    <% if (Array.isArray(controllers)) { %>
      <% controllers.forEach(file => { %>
        <script src="/<%= file %>"></script>
      <% }) %>
    <% } else if (controllers) { %>
      <script src="/<%= controllers %>"></script>
    <% } %>
  <% } %>
</body>

</html>