<div class="container-fluid">
  <div class="mt-4 p-5">
    <div class="d-flex flex-row  align-items-center">
      <img src="/favicon/favicon.svg" alt="Noura Fajr" height="200">
      <h1 class="display-1"> 
        Noura Fajr <br>
        <p class="text-muted display-6">Pengembang Software Berbasis Web Independen.</p> 
      </h1>
    </div>
  </div>
</div>